html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.exhibit-entry-hdr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize
}

.exhibit-entry-animal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CCC;
  border-radius: 5px;
  min-width: 30px;
  height: 30px;
  margin: 3px;
}